Package: com.victorlobe.pinterestfix
Name: PinterestFix
Version: 1.0.0
Architecture: iphoneos-arm
Description: Fixes Pinterest on iOS 5+
Maintainer: Victor
Author: Victor
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
