Package: com.victorlobe.pinterestfix
Name: PinterestFix
Version: 1.0.1
Architecture: iphoneos-arm
Description: Fixes Pinterest on iOS 5+ Needs Pinterest version 2.6+
Maintainer: Victor <contact@victorlobe.me>
Author: Victor <contact@victorlobe.me>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)